.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.player-dis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  border-radius: 5px;
  border: 5px solid rgb(0, 0, 0);
}

.src-path {
  margin: 5px;
}

button {
  align-self: flex-start; /* ボタンを右端に配置 */
  margin-left: 30px;
  width: 80px;
  height: 40px;
  box-sizing: border-box;
}
.btn-txt {
  font-size: 15px;
  margin: 3px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  flex: calc(25% - 10px); /* 3つずつ横に並べる（間隔含む） */
  margin: 5px; /* 要素の間隔 */
  box-sizing: border-box; /*要素のボーダーボックスを含める*/
  /* transition: all 0.3s; */
}

li:hover {
  color: #4f7a86;
  cursor: pointer;
}
